<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MDOC</display-name>
	<listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
  </listener>
	
	<servlet>
    <description></description>
    <display-name>Disconnect</display-name>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>servlet.Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/Disconnect</url-pattern>
  </servlet-mapping>
	
  <servlet>
    <description></description>
    <display-name>DefaultDatabase</display-name>
    <servlet-name>DefaultDatabase</servlet-name>
    <servlet-class>servlet.DefaultDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultDatabase</servlet-name>
    <url-pattern>/DefaultDatabase</url-pattern>
  </servlet-mapping>
	  
	<servlet>
    <description></description>
    <display-name>Connection</display-name>
    <servlet-name>Connection</servlet-name>
    <servlet-class>servlet.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
	
   <servlet>
		<description>servlet AddContact</description>
		<display-name>AddContact</display-name>
		<servlet-name>AddContact</servlet-name>
		<servlet-class>servlet.AddContact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContact</servlet-name>
		<url-pattern>/pages/AddContact</url-pattern>  
	</servlet-mapping>
	
	<servlet>
		<description>servlet RemoveContact</description>
		<display-name>RemoveContact</display-name>
		<servlet-name>RemoveContact</servlet-name>
		<servlet-class>servlet.RemoveContact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveContact</servlet-name>
		<url-pattern>/pages/RemoveContact</url-pattern>  
	</servlet-mapping>
	
	<servlet>
		<description>servlet UpdateContact</description>
		<display-name>UpdateContact</display-name>
		<servlet-name>UpdateContact</servlet-name>
		<servlet-class>servlet.UpdateContact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateContact</servlet-name>
		<url-pattern>/pages/UpdateContact</url-pattern>  
	</servlet-mapping>
	
	<servlet>
		<description>servlet SearchContact By Name</description>
		<display-name>SearchContactByName</display-name>
		<servlet-name>SearchContactByName</servlet-name>
		<servlet-class>servlet.SearchContactByName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchContactByName</servlet-name>
		<url-pattern>/pages/SearchContactByName</url-pattern>  
	</servlet-mapping>		
	
	<servlet>
		<description>servlet SearchContact By Id</description>
		<display-name>SearchContactById</display-name>
		<servlet-name>SearchContactById</servlet-name>
		<servlet-class>servlet.SearchContactById</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchContactById</servlet-name>
		<url-pattern>/pages/SearchContactById</url-pattern>  
	</servlet-mapping>	
	
	<servlet>
		<description>servlet SearchContacts</description>
		<display-name>SearchContacts</display-name>
		<servlet-name>SearchContacts</servlet-name>
		<servlet-class>servlet.SearchContacts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchContacts</servlet-name>
		<url-pattern>/pages/SearchContacts</url-pattern>  
	</servlet-mapping>
							
	<welcome-file-list>
		<welcome-file>pages/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>